<?php include 'elements/head.phtml'; ?>
<body>
<?php
/**
 * Message to show current working version
 */
if ('production' !== APP_ENVIRONMENT) {
    echo '<div style="padding:10px;color:white;background-color:black">' . APP_ENVIRONMENT . ' - ' . APP_RELEASE_VERSION . '  | url: <script type="text/javascript">document.write(window.location.href)</script></div>';
}
?>
<?php //echo $this->renderMenu($this); ?>

<div class="nav_shadow"></div>
<?php

// Body
echo $this->content;

include 'elements/footer.phtml';
