<?php

use Zend\Mvc\Controller\Plugin\FlashMessenger;

?>
<div class="footer">
    <div class="container">
        <div class="row footer_bottom">
            <div class="col-md-12 footer_info">
                <span>&copy; Copyright <?php echo date('Y') ?> - ZF2 Example App</span>
            </div>
        </div>
    </div>
</div>

<?php

echo $this->flashMessenger()->render();

/**
 * Flash Messenger: Handle as JavaScript alerts
 */
$fm = $this->flashMessenger();

// All namespaced to process as JS alerts
$namespaces = array(
    FlashMessenger::NAMESPACE_SUCCESS,
    FlashMessenger::NAMESPACE_ERROR,
    FlashMessenger::NAMESPACE_INFO,
    FlashMessenger::NAMESPACE_DEFAULT,
);

$messageChunks = array();

foreach ($namespaces as $namespace) {

    // Get messages for this namespace
    $fm->setNamespace($namespace);

    // Get ALL MESSAGES, even before redirect.
    $messages = array_merge($fm->getCurrentMessages(), $fm->getMessages());
    $fm->clearCurrentMessages();

    // Skip empty message sets
    if (!sizeof($messages)) {
        continue;
    }

    // Escape quotes for JS
    foreach($messages as &$message) {
        $message = str_replace('"', '\"', $message);
    }

    // Echo variables for page
    $messageChunks[] = $namespace.': ["'.implode('","', $messages).'"]';
}

$script = 'var appFlashMessages = {'.implode(',', $messageChunks).'};';
$this->inlineScript()->appendScript($script);

/**
 * Footer and inline scripts
 */
echo $this->headScript();
echo $this->inlineScript();

?>
</body>
</html>