<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">

    <?php

    //Meta
    echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendName('author', '')
        ->appendName('description', '')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');

    // Title
    echo $this->headTitle('ZF2 Example App')->setSeparator(' - ')->setAutoEscape(false);

    // Styles
    $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->appendStylesheet($this->basePath() . '/css/less.css', '')
        ->appendStylesheet($this->basePath() . '/css/less-ie.css', 'screen', 'lt IE 8')
        ->appendStylesheet($this->basePath() . '/css/less-ie8.css', 'screen', 'IE 8')
        ->appendStylesheet($this->basePath() . '/css/less-ie9.css', 'screen', 'IE 9')
    ;

    // Scripts
    $this->headScript()->prependFile($this->basePath() . '/js/global.js');

    echo $this->headLink();
?>
</head>