
<div class="wrapper content">
    <div class="container">
        <div class="row" id="homepage">

            <div class="col-sm-12">
                <div class="page_header">

                    <div class="navigation_container">
                        <div class="container">
                            <div class="row">
                                <div class="span12">
                                    Some Navigation here soon
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="jumbotron text-center">
                        <h1>ZF2 Example Application</h1>
                        <p>Content is required</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>